In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
import plotly.graph_objects as go
import plotly.express as px
from sklearn.preprocessing import LabelEncoder

In [13]:
data=pd.read_csv('/content/Data - Data (1).csv')
print(data)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [14]:
df=pd.DataFrame(data)
df['Purchased'] = df['Purchased'].replace({'Yes': 1, 'No': 0})
print(df)

   Country   Age   Salary  Purchased
0   France  44.0  72000.0          0
1    Spain  27.0  48000.0          1
2  Germany  30.0  54000.0          0
3    Spain  38.0  61000.0          0
4  Germany  40.0      NaN          1
5   France  35.0  58000.0          1
6    Spain   NaN  52000.0          0
7   France  48.0  79000.0          1
8  Germany  50.0  83000.0          0
9   France  37.0  67000.0          1

In [15]:
df['Age'].fillna(df['Age'].median(), inplace=True)
df['Salary'].fillna(df['Salary'].median(), inplace=True)
print(df)

   Country   Age   Salary  Purchased
0   France  44.0  72000.0          0
1    Spain  27.0  48000.0          1
2  Germany  30.0  54000.0          0
3    Spain  38.0  61000.0          0
4  Germany  40.0  61000.0          1
5   France  35.0  58000.0          1
6    Spain  38.0  52000.0          0
7   France  48.0  79000.0          1
8  Germany  50.0  83000.0          0
9   France  37.0  67000.0          1

In [16]:
label_encoder = LabelEncoder()
df['Country'] = label_encoder.fit_transform(df['Country'])
print(df)

   Country   Age   Salary  Purchased
0        0  44.0  72000.0          0
1        2  27.0  48000.0          1
2        1  30.0  54000.0          0
3        2  38.0  61000.0          0
4        1  40.0  61000.0          1
5        0  35.0  58000.0          1
6        2  38.0  52000.0          0
7        0  48.0  79000.0          1
8        1  50.0  83000.0          0
9        0  37.0  67000.0          1

In [17]:
df.rename(columns={'Purchased': 'Sold'}, inplace=True)
print(df)

   Country   Age   Salary  Sold
0        0  44.0  72000.0     0
1        2  27.0  48000.0     1
2        1  30.0  54000.0     0
3        2  38.0  61000.0     0
4        1  40.0  61000.0     1
5        0  35.0  58000.0     1
6        2  38.0  52000.0     0
7        0  48.0  79000.0     1
8        1  50.0  83000.0     0
9        0  37.0  67000.0     1

In [18]:
threshold = 40
df['Age'] = (df['Age'] <= threshold).astype(int)
print(df)

   Country  Age   Salary  Sold
0        0    0  72000.0     0
1        2    1  48000.0     1
2        1    1  54000.0     0
3        2    1  61000.0     0
4        1    1  61000.0     1
5        0    1  58000.0     1
6        2    1  52000.0     0
7        0    0  79000.0     1
8        1    0  83000.0     0
9        0    1  67000.0     1

In [19]:
threshold_salary = 60000
df['Salary'] = (df['Salary'] > threshold_salary).astype(int)
print(df)

   Country  Age  Salary  Sold
0        0    0       1     0
1        2    1       0     1
2        1    1       0     0
3        2    1       1     0
4        1    1       1     1
5        0    1       0     1
6        2    1       0     0
7        0    0       1     1
8        1    0       1     0
9        0    1       1     1

In [20]:
data=df.drop(1)
print(data)

   Country  Age  Salary  Sold
0        0    0       1     0
2        1    1       0     0
3        2    1       1     0
4        1    1       1     1
5        0    1       0     1
6        2    1       0     0
7        0    0       1     1
8        1    0       1     0
9        0    1       1     1